<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    
</head>

<style>
    header {
      min-height: 100vh;
    }

    .bg-twitter {
    background-color: #1DA1F2 !important;
  }
</style>

    
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-twitter text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index">SMRL</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="tweets">Last Tweets</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="search">Search Tweets</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="dataset">About Dataset</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#page-top">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br><br><br>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2><span style="font-weight: bold !important; font-family:'Courier New', Courier, monospace; padding-bottom: 20px; ">Contact Us</span></h2>
                    <hr class="star-dark mb-5">
                    <h1><span style="font-weight: normal !important; font-family:'Courier New', Courier, monospace; padding-bottom: 20px;">We welcome any inquiries regarding our analyses and encourage you to reach out to us using the contact information provided below for any matter.
                         Please do not hesitate to contact us should you have any questions or require further information.</span></h1>
                    <br><br>
                    <ul class="list-inline banner-social-buttons">
                        <a href="https://mail.google.com/mail/?view=cm&to=socialmediaresearcheslab@gmail.com&su=SMRL-Subject&body=SMRL-Body" target="_blank" class="btn btn-info btn-lg btn-default">
                            <i class="fa fa-google-plus fa-fw"></i>
                            <span class="network-name">&nbsp; Google+</span>
                          </a>
                          <a href="https://github.com/HakanMehmetcik/SMRL" target="_blank" class="btn btn-info btn-lg btn-default">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">&nbsp; Github</span>
                          </a>
                    </ul>
                </div>
            </div>
            <section class="text-center content-section" id="maps">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.7471530412067!2d29.04981407636367!3d40.98701716220005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac78dac1ac9a3%3A0xbd47329deac1fedf!2sMarmara%20%C3%9Cniversitesi%20G%C3%B6ztepe%20Yerle%C5%9Fkesi!5e0!3m2!1str!2str!4v1682175632288!5m2!1str!2str"
                  class="w-50" height="400" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </section>   
        </div>
        
    </section>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>