<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dataset</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
</head>

<style>
    header {
      min-height: 100vh;
    }

    .bg-twitter {
    background-color: #1DA1F2 !important;
  }
</style>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-twitter text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/">SMRL</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="tweets">Last Tweets</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="search">Search Tweets</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#page-top">About Dataset</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="text-white mb-4 " id="about">
        <div class="container mt-5">
            <h2 class="text-uppercase text-center text-black" style="font-weight: normal !important; font-family:'Courier New', Courier, monospace; padding-bottom: 20px;">About DATASET</h2>
            <hr class="mb-5">
            <div class="row">
                <div class="col-lg-4 ms-auto text-black">
                    <p class="lead" style="font-weight: normal !important; font-family:'Courier New', Courier, monospace; padding: 20px; border:3px solid #1DA1F2">Our dataset contains <span style="color:#1DA1F2;font-weight: bold; font-size: 25px;" >7730</span> Twitter accounts from <span style="color:#1DA1F2;font-weight: bold; font-size: 25px;" >25+</span> countries that have been specifically selected for their focus on analyzing Turkey's foreign policy. The accounts consist of politicians, important personalities, and international news accounts, all of which are based outside of Turkey. The purpose of this dataset is to provide a comprehensive list of Twitter accounts that specialize in discussing and analyzing Turkey's foreign policy, from a variety of perspectives and regions.</p>
                </div>
                <div class="col-lg-4 me-auto text-black">
                    <p class="lead" style="font-weight: normal !important; font-family:'Courier New', Courier, monospace; padding: 20px; border:3px solid #1DA1F2">The dataset is comprised of two columns: Account and Country. The Account column provides a unique identifier for each Twitter account, while the Country column denotes the geographical location to which the account is associated. This dataset holds significance for researchers and analysts alike, as it provides valuable insights into how various nations perceive and analyze Turkey's foreign policy. Furthermore, it enables the identification of patterns and trends in these perceptions, which can be instrumental in generating meaningful inferences for further research.</p>
                </div>
                <div class="col-lg-4 me-auto text-black">
                    <p class="lead" style="font-weight: normal !important; font-family:'Courier New', Courier, monospace; padding: 20px; border:3px solid #1DA1F2 ">Overall, this dataset provides a valuable resource for anyone studying Turkey's foreign policy, particularly from an international perspective. By providing a list of Twitter accounts that are specifically focused on this topic, the dataset can help researchers to quickly and easily identify key players and perspectives in the global conversation surrounding Turkey's foreign policy.</p>
                </div>
            </div>
            <div class="text-center mt-4"><a class="btn btn-info btn-outline-light btn-xl" role="button" href="accounts.csv" download="account_list"><i class="fa fa-download me-2"></i><span>Download Dataset!</span></a></div>
        </div>
    </section>
   
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/freelancer.js"></script>
</body>

</html>